@using WebApplication1.Models
@model TopupParameters

@{
    decimal? amount = 0;
    decimal? count = 0;
    

    if (ViewBag.notopups == 0)
    {
        <script>
            alert('there is no charging process');
        </script>
    }
    if (ViewBag.valid == 0)
    {
        <script>
            alert('the meter id is not valid');
        </script>
    }
    if (ViewBag.from == 0)
    {
        <script>
            alert('you should enter from date');
        </script>
    }
    if (ViewBag.to == 0)
    {
        <script>
            alert('you should enter to date');
        </script>
    }
    if (ViewBag.both == 0)
    {
        <script>
            alert('you should enter from and to date');
        </script>
    }
}


<div style="flex:1; padding-left: 35px" class="vertical-align">

    @using (Html.BeginForm("MonthlyCharge", "Inquiries", FormMethod.Post))
    {
        <table>
            <tr>
                <td>من</td>
                <td>
                    @Html.TextBoxFor(o => o.fromdate, new { type = "date" })
                </td>
            </tr>

            <tr>
                <td>الى</td>
                <td>
                    @Html.TextBoxFor(o => o.todate, new { type = "date" })
                </td>
            </tr>



            <tr>
                <td>رقم العداد</td>
                <td>
                    @Html.EditorFor(o => o.MeterId, new { autocomplete = "off" })
                    @Html.ValidationMessageFor(o => o.MeterId, "", new { @class = "text-danger" })
                </td>
            </tr>

        </table>

        <input type="submit" value="MonthlyCharge" />
    }



    @if (ViewBag.amount != null && ViewBag.count != null)
    {

        amount = ViewBag.amount;
        count = ViewBag.count;

        if (count != 0)
        {
            decimal? result = amount.Value;
            <p>معدل الشحن الشهري هو:@(result)</p>
        }
    }

</div>


<div style="text-align: center;">

    <div class="hexagon full small blue">

        <span></span>
        <img src="~/images/user.png" style="width: 140px;z-index: 4;position: relative;" />
    </div>
    <div class="hexagon blue">
        <span></span>

        <div class="content">

            <a class="brand-button brand-button-2" href="@Url.Action("Transfers", "Inquiries")">سجل التحويلات</a>


            <a class="brand-button brand-button-2" href="@Url.Action("Charges","Inquiries")">سجل الشحن</a>


            <a class="brand-button brand-button-2" href="@Url.Action("MonthlyCharge", "Inquiries")">مجموع الشحن خلال فترة </a>

            <a class="brand-button brand-button-2" href="@Url.Action("CodeCharging", "Inquiries")">مجموع قيم الأكواد</a>

            <a class="brand-button brand-button-2" href="@Url.Action("index", "Mainpage")">الصفحة الرئسية</a>

        </div>
    </div>
</div>


